openapi: "3.0.0"

info:
  title: "Student API"
  version: "1.0.0"
  license:
    name: MIT

servers:
  - url: http://localhost:8080

security: []

paths:
  /health:
    get:
      summary: Health check
      operationId: healthCheck
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
