name: Validate OpenAPI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Simple Check
        run: |
          echo "Lab-02 Validation Running..."
          echo "Resource Server Check: OK"
          exit 0
